@media screen and (max-width: 896px) {
	.container {
		padding: 0 7%;
	}

	#magazine {
		.magazine {
			&_content {
				flex-flow: column;
				a {
					width: 100%;
					&:nth-child(1) {
						margin-bottom: 30px;
					}
				}
			}
		}
	}

	#catalog_antique {
		padding: 30px 0;
		.catalog_antique_content {
			flex-flow: column;
			&:nth-child(1) {
				margin-bottom: 60px;
			}
			&:nth-child(2) {
				flex-flow: column-reverse;
				img {
					margin-bottom: 0;
				}
			}
			img {
				width: 100%;
				margin-bottom: 60px;
			}
			.txt_btn {
				margin-bottom: 60px;
			}
		}
	}

	#footer {
		.footer_top {
			.container {
				flex-flow: column;
				padding: 30px 7% 60px;
				.footer_top {
					&_first {
						width: 100%;
						text-align: center;
					}
					&_second {
						width: 100%;
						padding: 40px 0;
					}
					&_third {
						width: 100%;
					}
				}
			}
			.footer_bottom {
				p {
					padding: 30px 0;
				}
			}
		}
	}
}